h1 {
   margin: 0;
   color:antiquewhite;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   background-color:darkred;
   padding: 40px;
}

h3 {
   margin: 0;
   color: black;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   background-color: lightgray;
   padding: 20px;
}

h3 a:link{
   color:black;
   text-decoration: none;
}

h3 a:active{
   color: darkred;
   text-decoration: none;
}

h3 a:visited{
   color: black;
   text-decoration: none;
}

h3 a:hover {
   color: darkred;
   text-decoration: underline;
}

h2{
   text-indent: 15px;
   color: black;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-indent: 20px;
    margin: 0 auto;
    padding: 20px;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5;
}

section {
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: space-between;
}